$portrait-width: 160px;
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1020px;
$xl-width: 1440px;
$sm-height: 710px;

@mixin sm-width {
	@media (max-width: #{$sm-width - 1px}) {
		@content;
	}
}

@mixin md-width {
	@media (max-width: #{$md-width - 1px}) {
		@content;
	}
}

@mixin lg-width {
	@media (max-width: #{$lg-width - 1px}) {
		@content;
	}
}

@mixin xl-width {
	@media (max-width: #{$xl-width - 1px}) {
		@content;
	}
}

@mixin sm-height {
	@media (max-height: #{$sm-height - 1px}) {
		@content;
	}
}

@mixin hide {
	position: absolute !important;
	left: -999999px !important;
}
@mixin show {
	position: static !important;
	left: unset !important;
}

$blue: #043FAB;
$teal: #3f8DBA;
$green: #00995c;
$yellow: #F2B621;
$orange: #FC652C;
$pink: #E17B98;
$red: #B32618;
$lime: #ADF940;
$forest: #036A47;
$lightgreen: #00AA64;

$blue-dark: #012E7F;
$teal-dark: #01779E;
$green-dark: #025237;
$yellow-dark: #AC8118;
$orange-dark: #BE4216;
$pink-dark: #9E465F;
$red-dark: #861C11;

$blue-light: #AFCBFD;
$teal-light: #D5E7F1;
$green-light: #E0FFF3;
$yellow-light: #FAE1A3;
$orange-light: #FED3C3;
$pink-light: #F5D1DB;
$red-light: #F8D1CE;

$black: #000;
$darken: rgba(#2e2e2e, 0.9);

.blue {
	background-color: $blue;
}
.teal {
	background-color: $teal;
}
.yellow {
	background-color: $yellow;
}
.orange {
	background-color: $orange;
}
.pink {
	background-color: $pink;
}
.black {
	background-color: $black;
}
.green {
	background-color: $green;
}
.lime {
	background-color: $lime;
}
.forest {
	background-color: $forest;
}

@mixin base-text {
	font-size: 16px;
	line-height: 1.3rem;
	@include sm-width {
		font-size: 13px;
		line-height: 1.5rem;
	}
}

@mixin xs-text {
	font-size: .7rem;
	line-height: 1em;
}

@mixin sm-text {
	font-size: .85rem;
	line-height: 1.3em;
}

@mixin md-text {
	font-size: 1rem;
	line-height: 1.2em;
}

@mixin lg-text {
	font-size: 1.3rem;
	line-height: 1.2em;
}

@mixin xl-text {
	font-size: 2rem;
	line-height: 1.2em;
}


$ease: cubic-bezier(0.83, 0, 0.17, 1);
$ease-in: cubic-bezier(0.64, 0, 0.78, 0);
$ease-out: cubic-bezier(0.22, 1, 0.36, 1);